# Node
node_modules/

# Environment
.env
.DS_Store

# Assets
assets/videos/*
!assets/videos/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/

# Electron
electron-debug.log

# Build artifacts
cuda-keyring*
cuda-samples/

# Backup files
*.save

# Logs
*.log

# IDE
.vscode/
.idea/
var/
*.egg-info/
.installed.cfg
*.egg
